
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/config/applicationhost.config
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/v16/.suo
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/v16/Server/sqlite3/db.lock
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/v16/Server/sqlite3/storage.ide
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/v16/Server/sqlite3/storage.ide-shm
ExcelAsSQLdataSourse/.vs/ExcelAsSQLdataSourse/v16/Server/sqlite3/storage.ide-wal
InsuranceQuoteDB/App_Data/InsuranceQuoteDB.mdf
InsuranceQuoteDB/App_Data/InsuranceQuoteDB_log.ldf
StudentManagementSystem/.vs/StudentManagementSystem/v16/.suo
StudentManagementSystem/.vs/StudentManagementSystem/v16/Server/sqlite3/storage.ide
StudentManagementSystem/.vs/StudentManagementSystem/v16/Server/sqlite3/storage.ide-shm
StudentManagementSystem/.vs/StudentManagementSystem/v16/Server/sqlite3/storage.ide-wal
StudentManagementSystem/obj/Debug/StudentManagementSystem.csprojAssemblyReference.cache
InsuranceQuoteDB/App_Data/InsuranceQuoteDB.mdf
InsuranceQuoteDB/App_Data/InsuranceQuoteDB_log.ldf
StudentManagementSystem/.vs/StudentManagementSystem/v16/.suo
StudentManagementSystem/.vs/StudentManagementSystem/v16/Server/sqlite3/storage.ide
StudentManagementSystem/obj/Debug/StudentManagementSystem.csprojAssemblyReference.cache
*.mdf
*.ldf
*.ide
*.ide
*.cache
