@model StudentManagementSystem.Models.StudentVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

ID: @Model.ID
<br />
First name: @Model.FirstName
<br />
Last name: @Model.LastName
<br />
<br />
<button onclick="location = '../edit/@Model.ID'">Edit</button>
<button id="showDialog">Remove</button>


<div id="dialog" title="Remove Student">
    <p>Are you sure you want to remove this student?</p>
</div>

@section scripts {
<script src="~/Scripts/jquery-ui.js"></script>
<script>
    $(document).ready(ReadyDialog());

    function ReadyDialog() {
        $("#dialog").dialog({
            autoOpen: false,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        window.location = '../remove/@Model.ID'
                    }
                },
                {
                    text: "Cancel",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        $("#showDialog").click(function (event) {
            $("#dialog").dialog("open");
            event.preventDefault();
        });
    }
</script>
}