@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a ASP.NET MVC application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Code First</h2>
        <p>This application demonstrates code first database creation, numerous database migrations,
        automatic database request retries, and simulation of transient database errors and recovery.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Lazy vs. Eager Loading</h2>
        <p>This app also demonstrates various methods of lazy, eager, and explicit loading from the database.</p>
    </div>
</div>