@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Automobile Insurance</h1>
    <p class="lead">This ASP.NET MVC app demonstrates SQL Server Management, Third Normal Form (3NF) database design, Business Logic,
    JavaScript AJAX updates, Logins, Account Management, User Roles, and much more!</p>
    <p><a href="/Quotes/Create" class="btn btn-primary btn-lg">Get a Quote &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click on Get a Quote in the navigation bar above.
        </p>
    </div>
    <div class="col-md-4">
        <h2>User Roles</h2>
        <p>Create a new user profile, use one already created, or login as an admin to see all quotes.</p>
        <p>After logging in as an admin, goto /Admin in the address bar or use this link:</p>
        <p><a href="/Admin" class="btn btn-primary btn-lg">Admin Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sources</h2>
        <p>The data relating to make, models, and trim options was obtained from sample
        excel databases located at www.teoalida.com/cardatabase/. The risklevels was mostly fabricated to demonstrate
        a possible solution.</p>
    </div>
</div>